{%extends 'base.html'%}



{%block content%}

    <div class="container">

        <div class="">


            <div class="alert alert-secondary" role="alert">


                <div class="row my-3">
                    <img class="rounded-circle" src="/static/sample_image/kkrn_icon_user_1.png" alt="Circle image" height="100px" width="100px">
                    <h4 class="">username</h4>
                </div>


                <a href="/item/{{object.pk}}/" class="font-weight-bold text-dark"><p>{{object.text|linebreaksbr}}</p></a>

                {%if object.image%}
                <img src="/{{object.image}}" alt="" width="100%" height="">
                {%endif%}
                <a href="/item/update/{{object.pk}}/" class="btn btn-info">編集</a>                
                <a href="/item/delete/{{object.pk}}/" class="btn btn-danger">削除</a>
                
            </div>


            
        </div>
    </div>
{%endblock%}