body{
    background-color: black;
    color: white;
}
    

.relative{
    position: relative;
    height: 500px;
}


/*username btn の配置-----------------------*/

.absolute.text1{
    position: absolute;
    top:280px;
    left:40px;
    font-size: 30px;
    
}

.absolute.text2{
    position: absolute;
    top:240px;
    left:600px;
}


/*共通でないclassを指定する-------------------------*/

.icon_image{ 
    position: absolute;
    height:150px;
    width:150px;
    top:130px;
    left:30px;
}

/*-------item一覧------------------------*/
.header_line{
    background-color: black;
    color: white;
    height: 60px;
}

